@import url(http://fonts.googleapis.com/css?family=Sofia|Ubuntu:400,700&subset=latin,latin-ext);

body {
  font-family: 'Ubuntu', sans-serif;
  background-color:#F1E9D5;
  color:#403D2F;
  margin-top:0.5em !important;
}

h1, h2, h3 {
  color:#4A8C7A;
}

h2 {
  margin-top:0px !important;
  font-family: 'Sofia', cursive;
  margin-bottom:0em;
}

h3 {
  margin-top:0px !important;
  font-family: 'Sofia', cursive;
  margin-bottom:0em;
}

.bt {
  font-weight: bold;
  margin-top:1.2em;
  margin-bottom:0em;
  padding-bottom:3px;
  padding-left:0em;
}

.br {
  fdont-size: small;
  margin-top:0em;
  margin-bottom:0em;
  padding-left:0em;
  padding-bottom:3px;
  font-family: 'Ubuntu Mono', sans-serif;
}

.bn {
  fdont-size: small;
  margin-top:0em;
  margin-bottom:0em;
  padding-left:0em;
  fodnt-style:italic;
}

.bg {
  font-weight: bold;
}

.mlg {
  padding-top:1em;
}

.bb {
  padding-left:0.5em;
  font-size:small;
  font-style:italic;
}

.sb {
  padding-left:0em;
  padding-top:0em;
  margin-top:0.5em;
}

.bdb:visited {
  color:#335C51;
  fcolor:blue;
}

.bdg:visited {
  color:#335C51;
  fcolor:blue;
}

a {
  dcolor:#1A5C4A;
  ddcolor:#403D2F;
  dcolor:#202020;
  xcolor:#355094;
  color:#193E9B;
}

#menu {
  dborder:1px solid black;
  padding:1em;
  padding-top:0em;

  color:#D96459;
  backdground-color:#F1CBB1;
  backdground-color:#9AbCaA;
  backdground-color:#A0C0B0;

  background-color:#e1e0db;

  -webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
  min-width:120px;

}

#content {
    padding:1em;
    padding-top:0em;
    width:100%;
    color:#222;
}

#container {
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
    flex-flow: row;
}

#footer {
    font-size:small;
    color:#888;
    font-style:italic;
    text-align:right;
    padding-top:1em;
}

.mlf {
    font-size:x-small;
    color:black;
    text-align:left;
    padding-top:1.5em;
}

.noshow {
    color:#4A8C7A;
    text-decoration:none;
}

#wait {
  font-weight: bold;
  display:block;
  padding:1em;
  margin:0px;
  background-color:#e1e0db;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color:#4A8C7A;
}

#wait ~ p {
  color:#888;
}

.waiting {
  -webkit-filter: blur(2px);
}

#subtitle {
    font-size:small;
    color:#888;
    font-style:italic;
    text-align:left;
    padding-top:0em;
    padding-left:0.5em;
    margin-top:0em;
    padding-bottom:0.5em;
  font-family: 'Sofia', cursive;
}

ul {
    margin-top:0px;
  dmargin-left: 0.5em;
  padding-left: 1.5em;
}

#main{
}

#blo {
    background-repeat: no-repeat;
    background: url("cljb.png");
    background-size:1300px, 1300px;
    background-position:0px 750px;
    width:800px;
    height:750px;
    position:absolute;
    top:0px;
    right:0px;
    opacity:0.1;
    z-index:-1;
}

.bs {
    margin-bottom:2px;
}

p, li {
    text-align:justify;
}